<% if (title) { %>
<!-- Page heading provided by the controller -->
<h1><%= title %></h1>
<% } else { /* If no title was provided, redirect back to the home page. This
keeps the view from rendering when required context isn't available. */
res.redirect('/') } %> <%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div id="loginFormContainer">
  <form id="loginForm" action="/account/login" method="post">
    <div>
      <label for="account_email">Email</label>
      <input id="account_email" type="email" name="account_email" required />
    </div>
    <div>
      <label for="account_password">Password</label>
      <input
        id="account_password"
        name="account_password"
        type="password"
        required
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
        title="Password must be at least 12 characters long and contain at least 1 uppercase letter, 1 number, and 1 special character."
      />
    </div>
    <div>
      <p>
        Passwords must be at least 12 characters and contain at least 1
        uppercase letter, 1 number, and 1 special character.
      </p>
    </div>
    <button type="submit">Login</button>
  </form>

  <p id="register">No account ?<a href="/account/register">Sign-up</a></p>
</div>
