<nav>
    <ul>
        <li><a href="/" title="Home page">Home</a></li>
        <li><a href="/custom" title="Custom vehicles">Custom</a></li>
        <li><a href="/sedan" title="Sedan vehicles">Sedan</a></li>
        <li><a href="/suv" title="SUV vehicles">SUV</a></li>
        <li><a href="/truck" title="Truck vehicles">Truck</a></li>
    </ul>
</nav>